<service>
  <id>HabitatAgent</id>
  <name>Habitat Agent</name>
  <description>Private MartServ102 monitoring service for The Habitat.</description>
  <executable>node.exe</executable>
  <arguments>dist\index.js</arguments>
  <logpath>logs</logpath>
  <log mode="append" />
  <env name="NODE_ENV" value="production" />
  <stoptimeout>15sec</stoptimeout>
  <onfailure action="restart" delay="10 sec" />
  <onfailure action="restart" delay="30 sec" />
  <onfailure action="none" />
</service>
